/*
Author: Jatinder Kaur
Student Number: c0944170
File Name: styles.css
TERM PROJECT
*/

/*reset*/
body,
header,
nav,
main,
footer,
h1,
div,
img,
ul,
figure,
section,
article,
aside,
th,
table,
caption,
td,
aside,
figure {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

/* Style rules for body and images */
body {
  background-color: #e1a131;
  height: 100%;
  margin: 0;
  font-family: "GFS Didot", serif;
}

html {
  height: 100%;
}

img {
  width: 100%;
}

.logo {
  max-width: 15%;
  /* display: grid; */
  float:left;
}

.hero {
  width: 100%;
  height: 600px;
  object-fit: cover;
  overflow: hidden;
}

/* Style rule for header */
header {
  width: 100%;
  overflow: hidden;
  background-color: #e1a131;
}

h1 {
  text-align: center;
  margin-top: 5px;
  color: #ffffff;
  margin-bottom: 1%;
  font-weight: bolder;
}

h1 span {
  text-shadow: #8cc63f 1px 0 5px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
  margin-bottom: 2%;
}

h3 {
  text-align: center;
  margin-top: 0px;
  color: #8cc63f;
  margin-bottom: 2%;
}

/* Style for rules for navigation area */
.nav {
  color: #ffffffb9;
  display: flex;
  justify-content: center;
  float: right;
  margin: 50px 0px;
}

.nav ul {
  list-style: none;
  display: contents;
  margin: 0 0px;
  text-align: center;
}

.nav li {
  margin-right: 20px;
  list-style-type: none;
  font-size: 1.5em;
}

.nav a {
  text-decoration: none;
  color: #fff;
  padding: 0px 5px;
  border-radius: 4px;
}

.nav a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #8cc63f;
  background-color: #fff;
}

/* Style rules for main content */

article {
  margin: 0;
}

main p {
  text-align: center;
}

a {
  display: flex;
  justify-content: center;
}

.text-white {
  color: #fff;
}

.space{
  padding: 30px 0px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-content .image {
  flex: 1 1 45%;
  text-align: center;
}

.about-content .description {
  flex: 1 1 45%;
  text-align: left;
  padding: 20px;
  color: #fff;
}

.about-content .image img {
  width: 100%;
  height: 350px;
  border-radius: 100%;
  object-fit: cover;
  max-width: 350px;
}

.banner {
  background-color: #8cc63f;
  padding: 40px 20px;
  text-align: center;
  border-radius: 4px;
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.product-of-the-week {
  margin-top: 40px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #fff;
}

.weekly-sales {
  padding-top: 50px;
}

.weekly-sales .product-image {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 50px;
  border: 1px solid #ccc;
  object-fit: cover;
}
.sales-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.guarantee {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stars {
  width: 20%;
}
p span {
  color: #8cc63f;
}
.guarantee h2 {
  color: #000;
}
.reasons {
  margin-top: 40px;
}
.reason {
  margin-bottom: 20px;
  border: 1px solid #fff;
  margin: 10px;
  padding: 10px;
}

.features {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.features .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  flex-basis: 30%;
  margin: 20px;
  text-align: center;
}

.feature img {
  width: 50px;
  height: 50px;
}

.feature h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.homecontact {
  text-decoration: none;
  font-weight: 100;
  font-size: xx-large;
  color: #8cc63f;
}

/*Style Rules for Lists*/
ul {
  list-style-type: none;
}

/* Apply styles to the main grid container */
.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
}

/* Style for the section element */
section {
  padding: 20px;
  margin: 50px;
  box-shadow: 8px 8px 8px #0000002b;
  border-radius: 8px;
  border: 2px solid #8cc63f;
  background: #eee;
}


.text-center{
  text-align: center;
}

/* Style rules for footer content */
footer {
    padding: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
}

footer p {
  font-size: 0.8em;
  text-align: center;
  color: #ffffffc0;
  padding: 0px;
  margin: 0px;
}

footer p a {
  color: #fff;
  text-decoration: underline;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
  .about-content{
    flex-direction: column;
  }
  .logo {
    max-width: 100%;
    margin: 0 auto;
  }

  .nav ul {
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .nav li {
    margin: 0;
  }

  .nav {
    display: block;
    width: 100%;
  }

  main {
    margin: 5%;
  }

  .grid {
    grid-template-columns: 100%;
  }

  .features .container {
    flex-direction: column;
  }

  section {
    margin: 20px;
  }

  p {
    font-size: 1.2em;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    max-width: 100%;
  }

  .nav ul {
    padding: 0;
  }
}
